<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="../../static/style.css">
</head>
<section class="content">
<body>
    
    <form method="post">
        <label for="title" >Title</label>
        <input name="title" id="title" required>
        <label for="description">Desription</label>
        <input type="desc" name="desc" id="desc" required>
        <label for="level">Level</label>
        <input type="level" name="level" id="level" required>
        <input type="submit" value="Update study set"class="button1">
       
      </form>


</body>
</section>
</html>